.links{
    color: blue;
}
/* .needs{
    width: 100%;
    align-self: center;
} */
.needouter{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}